In [8]:
#supervised learning= (1),classification (2)regrassion

In [ ]:
#unsupervised learning= clustering

In [9]:
#linear regrassion

In [10]:
import pandas as pd                   #regrassion is the method is used to estimate the relationship between different entities

In [11]:
a=pd.read_csv("C:\\Users\\pc\\Desktop\iris.csv")
a.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
y=a[['sepal_length']]

In [15]:
x=a[['sepal_width']]

In [17]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [21]:
x_train.head()

     sepal_width
18           3.8
47           3.2
120          3.2
117          3.8
104          3.0

In [27]:
y_train.head()

     sepal_length
18            5.7
47            4.6
120           6.9
117           7.7
104           6.5

In [29]:
x_test.head()

     sepal_width
62           2.2
130          2.8
5            3.9
103          2.9
22           3.6

In [31]:
from sklearn.linear_model import LinearRegression

In [39]:
lr=LinearRegression()

In [41]:
lr.fit(x_train,y_train)

LinearRegression()

In [48]:
y_pred=lr.predict(x_test)
y_pred[0:5]

array([[5.95078757],
       [5.84919377],
       [5.66293847],
       [5.83226147],
       [5.71373537]])

In [51]:
y_test.head()

     sepal_length
62            6.0
130           7.4
5             5.4
103           6.3
22            4.6

In [56]:
from sklearn.metrics import mean_squared_error

In [58]:
mean_squared_error(y_test,y_pred)

0.7058370053671797

In [59]:
#model 2

In [66]:
y=a[['sepal_length']]

In [68]:
x=a[['sepal_length','petal_length','petal_width']]

In [70]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [72]:
lr2=LinearRegression()

In [74]:
lr2.fit(x_train,y_train)

LinearRegression()

In [77]:
y_pred=lr2.predict(x_test)

In [78]:
mean_squared_error(y_test,y_pred)

7.538004205445224e-31